* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background: linear-gradient(0deg, rgba(69, 62, 62, 1) 2%, rgba(5, 222, 201, 1) 26%, rgba(5, 195, 222, 1) 49%, rgba(0, 232, 255, 1) 100%);
    --primary: #121936;
    --secondary: #de2705;
    --tertiary: #FFE636;
    --quaternary: #FFF;

    /* details */
    --highway: #525252;
    --highway-lines: ;
    --flame: linear-gradient(-45deg, red, orange);
    --tires: radial-gradient(circle, rgba(172, 172, 172, 1) 21%, rgba(222, 39, 5, 1) 21%, rgba(25, 26, 30, 1) 23%, rgba(25, 26, 30, 1) 62%, rgba(255, 230, 54, 1) 64%, rgba(25, 26, 30, 1) 65%);
    --helmet: radial-gradient(circle at 115% center, grey 40%, black 40%);

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: var(--background);
}

main {
    width: 100vw;
}

h1 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
    font-size: clamp(3.2em, 10vw, 4.5em);
}

span {
    position: absolute;
    top: 50px;
    z-index: 1;
       transition: 1s;
}


main:hover h1 {
    color: var(--primary);
    perspective: 100px;
    /* hiermee kan ik de absolute element 3d stylen */
    z-index: 1;
}

@keyframes drive {
    from {
        background-position: 0;
    }

    to {
        background-position: -7.5em;
    }
}

main:hover h1::before {
    content: " ";
    position: absolute;
    top: 2.27em;
    left: 7.9em;
    width: 10.86em;
    height: .2em;
    background: linear-gradient(90deg, #fff 0%, #fff 50%, #ff0000 50%, #ff0000 100%);
    background-size: 120px;
    z-index: 1;
    transform-style: preserve-3d;
    transform: rotateX(30deg);
    animation: highway .8s linear infinite;
    /* linear keeps it at a constant speed, otherwise it's going to falter  */
}

main:hover h1::after {
    content: " ";
    position: absolute;
    top: 88px;
    width: 800px;
    height: 90px;
    background: var(--highway);
    transform-origin: bottom;
    transform-style: preserve-3d;
    transform: rotateX(30deg);
}

@keyframes highway {
    from {
        background-position: 0;
    }

    to {
        background-position: -7.5em;
    }
}

h1 span:first-of-type {
    left: 10.5em;
}

/* letter F */
main:hover h1 span:first-of-type {
    background: linear-gradient(0deg, rgba(18, 25, 54, 1) 57%, rgba(222, 39, 5, 1) 72%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Flame*/
main:hover h1 span:first-of-type::before {
    position: absolute;
    content: "";
    top: 0;
    left: -1.3em;
    width: .75em;
    height: .75em;
    filter: blur(10px);
    background: var(--flame);
    box-shadow: 17px 20px 90px #700;
    border: 5px solid black;
    border-radius: 0 150px 150px 150px;
    border-left-width: 15px;
    border-top-width: 15px;
    transform: rotate(-45deg);
    animation: .1s flame infinite;
}

/* flame animation */
@keyframes flame {
    0% {
        height: .75em;
        width: .75em;
    }

    50% {
        height: .85em;
        width: .85em;
    }

    100% {
        height: .75em;
        width: .75em;
    }
}

/* Letter O */
h1 span:nth-of-type(2) {
    left: 11.05em;
}

main:hover h1 span:nth-of-type(2) {
    margin-bottom: -5px;
}

/* tire 1 */
main:hover h1 span:nth-of-type(2)::before {
    content: " ";
    position: absolute;
    height: 0.5em;
    width: 0.5em;
    top: .6em;
    right: 0.35em;
    background: var(--tires);
    z-index: 2;
    border-radius: 50%;
    animation: .5s spin linear infinite;
}

/* letter R */
h1 span:nth-of-type(3) {
    left: 11.55em;
}

main:hover h1 span:nth-of-type(3) {
    transform: scaleY(1.3);
    top: 0.6em;
    background: linear-gradient(29deg, rgba(18, 25, 54, 1) 30%, rgba(255, 230, 54, 1) 53%, rgba(222, 39, 5, 1) 63%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* letter M */
h1 span:nth-of-type(4) {
    left: 12em;
}

main:hover h1 span:nth-of-type(4) {
    transform: scale(0.7);
    top: 0.8em;
    left: 11.8em;

}

/* driver */
main:hover h1 span:nth-of-type(4)::before {
    content: " ";
    position: absolute;
    height: 0.3em;
    width: 0.3em;
    top: .1em;
    right: .3em;
    background: var(--helmet);
    border-radius: 50%;
    border: 1px solid black;
    /* draai ainimatie */
}

/* letter U */
h1 span:nth-of-type(5) {
    left: 12.8em;
}

main:hover h1 span:nth-of-type(5) {
    top: 0.75em;
    left: 12.45em;
    transform: scale(0.9);
}

/* letter L */
h1 span:nth-of-type(6) {
    left: 13.3em;
}

main:hover h1 span:nth-of-type(6) {
    left: 13em;
    top: 0.75em;
    transform: scale(0.9);
}

/* letter E */
h1 span:nth-of-type(7) {
    left: 13.55em;
}

main:hover h1 span:nth-of-type(7) {
    left: 13.25em;
    top: 0.75em;
    transform: scale(0.8);
}

/* tire 2 */
main:hover h1 span:nth-of-type(7)::before {
    content: " ";
    position: absolute;
    height: .45em;
    width: .45em;
    top: .7em;
    right: -.1em;
    background: var(--tires);
    z-index: 2;
    border-radius: 50%;
    animation: .5s spin linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/* nummer 1 */
h1 span:last-of-type {
    left: 14em;
}

main:hover h1 span:last-of-type {
    transform-origin: center left;
    transform: rotate(90deg);
    margin-bottom: -6px;
    background: linear-gradient(16deg, rgba(18, 25, 54, 1) 32%, rgba(255, 230, 54, 1) 75%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}