* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

:root {
  --color-primary:skyblue ;
  --color-secondary:black ;
  --color-tertiary:#08fdd8 ;
  --color-quaternary:#FFFFFF ;
  --color-detail:black ;
  --color-machine-display-name:#4fc0e8 ;
  --color-display-on:0 0 0px black ;
  --color-machine-glas:#c0c0c0 ;
  --color-get-item:-2px -4px rgb(57, 57, 57) ;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary:rgb(18, 18, 48) ;
    --color-secondary:black ;
    --color-tertiary:#08fdd8 ;
    --color-quaternary:#FFFFFF ;
    --color-detail:#08fdd8 ;
    --color-machine:#525354 ;
    --color-machine-display-name:#89c2da ;
    --color-display-on:0 0 16px #4b7a8d ;
    --color-machine-glas:#89c2da ;
    --color-get-item:-2px -4px #4b7a8d ;
  }
}
body {
  display: grid;
  place-items: end;
  height: 100vh;
  background-color: var(--color-primary);
}

main {
  display: grid;
  grid-template-columns: 2fr 2fr;
}
main > section:first-of-type {
  position: relative;
}

.fw-draggable {
  cursor: grab;
}
.fw-draggable.dragging {
  opacity: 0.5;
}

.d-none {
  display: none;
}

#launch {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.2em;
  border-radius: 5px;
  font-weight: 700;
  font-size: calc(12px + 1em);
  color: var(--color-quaternary);
  background: #66625e;
}

.launch-box {
  position: relative;
  top: 57%;
  left: -3em;
  height: -6em;
  transform: rotateY(45deg);
  transform-style: preserve-3d;
}

* .firework-input {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  top: 8em;
  left: 5em;
  width: 24em;
  z-index: 1;
}
* .firework-input div {
  width: 4em;
  height: 4em;
  transform-origin: top center;
  transform: rotate3d(1, 0, 0, 122deg) skewX(19deg);
  border-radius: 50%;
  border: 1px solid var(--color-detail);
  box-shadow: var(--color-display-on);
  background-color: var(--color-secondary);
}
* .inner {
  position: relative;
  width: 250px;
  height: 250px;
  perspective: 3800px;
  perspective-origin: center -1400px;
}
* .inner div {
  position: absolute;
}
* .inner div:first-of-type {
  left: 10.4em;
  width: 19.7em;
  height: 15.3em;
  transform-origin: top center;
  transform: rotate3d(1, 0, 0, 92deg) skewX(-19deg);
  background-color: #8e8986;
}
* .inner div:nth-of-type(2) {
  top: 0px;
  right: -9.3em;
  width: 19.7em;
  height: 3.8em;
  transform-origin: left;
  transform: translateZ(223px) rotate3d(0, 1, 0, 0deg);
  background-color: #66625e;
}
* .inner div:nth-of-type(2)::before {
  content: "Fire Work";
  position: absolute;
  top: 0;
  left: 1em;
  font-weight: 700;
  font-size: 4em;
}
* .inner div:last-of-type {
  top: 5.47em;
  right: -10.3em;
  height: 4.2em;
  width: 16.1em;
  transform-origin: right center;
  transform: rotate3d(0, 1, 0, -110.3deg);
  background-color: #6a6967;
}

.fw-set {
  position: absolute;
  top: 3em;
  left: -12.5em;
  width: auto;
  height: 17em;
  margin: auto;
  transform: rotate(162deg) skewY(2deg);
  transition: 1s;
  z-index: 2;
}

.fw-take-off {
  animation: set-of 0.5s linear;
}

.lont {
  position: absolute;
  top: 80%;
  left: 70%;
  z-index: 1;
}
.lont.set-of img:nth-of-type(2) {
  clip-path: inset(0 100% 0 0);
}
.lont.set-of img:first-of-type {
  transform: translatex(-5em) translatey(-3.5em);
  opacity: 1;
}
.lont img {
  width: 85%;
  height: 4em;
}
.lont img:first-of-type {
  position: absolute;
  top: calc(25% + 1em);
  left: calc(35% + 1.5em);
  width: 3em;
  transition: transform 3s;
  opacity: 0;
  z-index: 100;
}
.lont img:nth-of-type(2) {
  position: absolute;
  left: 0;
  top: 0;
  clip-path: inset(0 0 0 0);
  transition: 3s;
}

.firework {
  position: absolute;
}
.firework#firework1 {
  top: -1em;
  left: 13em;
  transform: scale(1.5);
}
.firework#firework1 .explosion::before {
  background-color: purple;
  animation-delay: 1s;
}
.firework#firework2 {
  top: 4em;
  left: 21em;
  transform: scale(0.8);
}
.firework#firework2 .explosion::before {
  background-color: blue;
  animation-delay: 0.4s;
}
.firework#firework3 {
  top: 3em;
  left: 6em;
}
.firework#firework3 .explosion::before {
  background-color: goldenrod;
  animation-delay: 0.7s;
}
.firework#firework4 {
  top: 1em;
  left: 8em;
  transform: scale(0.8);
}
.firework#firework4 .explosion::before {
  background-color: rgb(145, 255, 0);
  animation-delay: 1s;
}

.explosion {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 4px;
  height: 80px;
  overflow: hidden;
  transform-origin: 50% 100%;
}
.explosion:first-of-type {
  transform: rotate(0deg) translateY(-15px);
}
.explosion:nth-of-type(2) {
  transform: rotate(30deg) translateY(-15px);
}
.explosion:nth-of-type(3) {
  transform: rotate(60deg) translateY(-15px);
}
.explosion:nth-of-type(4) {
  transform: rotate(90deg) translateY(-15px);
}
.explosion:nth-of-type(5) {
  transform: rotate(120deg) translateY(-15px);
}
.explosion:nth-of-type(6) {
  transform: rotate(150deg) translateY(-15px);
}
.explosion:nth-of-type(7) {
  transform: rotate(180deg) translateY(-15px);
}
.explosion:nth-of-type(8) {
  transform: rotate(210deg) translateY(-15px);
}
.explosion:nth-of-type(9) {
  transform: rotate(240deg) translateY(-15px);
}
.explosion:nth-of-type(10) {
  transform: rotate(270deg) translateY(-15px);
}
.explosion:nth-of-type(11) {
  transform: rotate(300deg) translateY(-15px);
}
.explosion:last-of-type {
  transform: rotate(330deg) translateY(-15px);
}

.boem::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  height: 40px;
  animation: explosion 3s ease-in-out 2;
}

@keyframes explosion {
  0% {
    top: 100%;
  }
  33%, 100% {
    top: -50%;
  }
}
@keyframes set-of {
  0% {
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(40em) scale(0.7);
  }
}
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
.machine {
  position: relative;
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 70%;
  height: 32em;
  padding: 1.5em;
  margin: auto;
  background-color: rgb(66, 73, 83);
}
.machine .items {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  overflow: hidden;
  background-color: var(--color-machine-glas);
}
.machine .items .shelf {
  background-color: rgb(66, 73, 83);
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-around;
}
.machine .items .shelf#one {
  top: 80px;
}
.machine .items .shelf#two {
  top: 180px;
}
.machine .items .shelf#three {
  top: 280px;
}
.machine .items .shelf p {
  background-color: rgb(66, 73, 83);
  color: var(--color-quaternary);
  font-size: 12px;
  display: inline;
  margin: auto;
}
.machine .items .selector {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2.5em;
  width: 100%;
  height: 7em;
}
.machine .items .selector img {
  width: 5em;
  height: auto;
  margin: auto;
  transform: rotate(10deg);
}
.machine .items .grab {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10.7em;
  background-color: var(--color-machine);
}
.machine .items .grab div {
  display: flex;
  justify-content: center;
  width: 80%;
  height: 3em;
  margin: 3em auto;
  border-radius: 15px;
  box-shadow: inset 4px 4px 15px 0px #000000, inset 6px 7px 12px 30px rgba(0, 0, 0, 0.35);
  background-color: rgb(169, 177, 188);
}
.machine .items .grab div img {
  width: 90%;
  transform: rotate(35deg);
}
@media screen and (min-width: 992px) {
  .machine .items .grab div img {
    transform: rotate(28deg);
  }
}
.machine .order {
  top: 20px;
  padding: 10px;
  background-color: var(--color-machine);
}
.machine .order input {
  width: 100%;
  height: 2em;
  margin-top: 3.5em;
  border-radius: 50px;
  background-color: var(--color-machine-display-name);
  box-shadow: var(--color-display-on);
  color: var(--color-quaternary);
  font-weight: bold;
  text-align: center;
}
.machine .order .display-item {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 5.3em;
  margin-top: 1em;
  padding: 0.5em;
  aspect-ratio: 1/2;
  background-color: var(--color-secondary);
  border: double 2px lightgray;
}
.machine .order .display-item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.machine .order .display-item #error-machine {
  text-align: center;
  color: var(--color-tertiary);
  margin-top: 0.8em;
}
.machine .order #get-item {
  width: 100%;
  padding: 0.5em;
  margin-top: 1em;
  cursor: pointer;
  outline: none;
  border: 1px solid var(--color-secondary);
  border-radius: 15px;
  box-shadow: var(--color-get-item);
  color: var(--color-quaternary);
  background-color: #646c77;
}
.machine .order #get-item:active {
  box-shadow: -2px -4px #666;
  transform: translateY(-4px);
}

.coins-input {
  width: 2em;
  height: 4em;
  margin: 1em auto;
  padding: 5px 0;
  border-radius: 5px;
  background-color: rgb(169, 177, 188);
}
.coins-input div {
  width: 8px;
  height: 100%;
  margin: auto;
  border-radius: 5px;
  background-color: var(--color-secondary);
}

.falling {
  transform-origin: 0 50%;
  animation-name: item-fall;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

@keyframes item-fall {
  0% {
    transform-origin: 0 50%;
    animation-timing-function: ease-in-out;
  }
  15% {
    transform: rotate3d(0, 0, 1, 130deg);
  }
  20% {
    transform: rotate3d(0, 0, 1, 80deg);
  }
  30% {
    transform: rotate3d(0, 0, 1, 115deg);
  }
  40% {
    transform: rotate3d(0, 0, 1, 85deg);
  }
  50% {
    transform: rotate3d(0, 0, 1, 107deg);
  }
  80% {
    opacity: 1;
    transform: rotateZ(92deg);
  }
  100% {
    opacity: 0;
    transform: rotateZ(80deg) translate3d(200px, 0, 0);
  }
}

/*# sourceMappingURL=style.css.map */
