.fw-set {
	width: auto;
	height: 20em;
	margin-left: 13em;
	transform-origin: center bottom;
	transform: rotatex(-92deg) skewY(-25deg) skewX(36deg);
}

.fw-take-off {
	animation: set-of 0.5s getMesurements(fw-delay) linear forwards;
}

// .lont {
// 	position: absolute;
// 	top: 85%;
// 	left: 75%;
// 		transform: rotate(-20deg);
// 	z-index: 1;

// 	&.set-of {
// 		img {
// 			&:nth-of-type(2) {
// 				clip-path: inset(0 100% 0 0);
// 			}

// 			&:first-of-type {
// 				transform: translatex(-5em) translatey(-3.5em);
// 				opacity: 1;
// 			}
// 		}
// 	}

// 	img {
// 		width: 85%;
// 		height: 3em;

// 		&:first-of-type {
// 			position: absolute;
// 			top: calc(45% - -1em);
// 			left: calc(50% - -1.5em);
// 			width: 3em;
// 			transition: transform 3s;
// 			opacity: 0;
// 			z-index: 100;
// 		}

// 		&:nth-of-type(2) {
// 			position: absolute;
// 			left: 0;
// 			top: 0;
// 			clip-path: inset(0 0 0 0);
// 			transition: 3s;
// 		}
// 	}
// }

.firework {
	position: absolute;

	&#firework1 {
		top: -1em;
		left: 13em;
		transform: scale(1.5);

		.explosion::before {
			background-color: purple;
			animation-delay: 1s;
		}
	}

	&#firework2 {
		top: 4em;
		left: 21em;
		transform: scale(0.8);

		.explosion::before {
			background-color: blue;
			animation-delay: 0.4s;
		}
	}

	&#firework3 {
		top: 3em;
		left: 6em;

		.explosion::before {
			background-color: goldenrod;
			animation-delay: 0.7s;
		}
	}

	&#firework4 {
		top: 1em;
		left: 8em;
		transform: scale(0.8);

		.explosion::before {
			background-color: rgb(145, 255, 0);
			animation-delay: 1s;
		}
	}
}

.explosion {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 4px;
	height: 80px;
	overflow: hidden;
	transform-origin: 50% 100%;
	transform: rotate(getMesurements(fw-angle)) translateY(-15px);

	&:nth-of-type(2) {
		--mesurement-fw-angle: 30deg;
	}
	&:nth-of-type(3) {
		--mesurement-fw-angle: 60deg;
	}
	&:nth-of-type(4) {
		--mesurement-fw-angle: 90deg;
	}
	&:nth-of-type(5) {
		--mesurement-fw-angle: 120deg;
	}
	&:nth-of-type(6) {
		--mesurement-fw-angle: 150deg;
	}
	&:nth-of-type(7) {
		--mesurement-fw-angle: 180deg;
	}
	&:nth-of-type(8) {
		--mesurement-fw-angle: 210deg;
	}
	&:nth-of-type(9) {
		--mesurement-fw-angle: 240deg;
	}
	&:nth-of-type(10) {
		--mesurement-fw-angle: 270deg;
	}
	&:nth-of-type(11) {
		--mesurement-fw-angle: 300deg;
	}
	&:last-of-type {
		--mesurement-fw-angle: 330deg;
	}

	&::before {
		content: '';
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		height: 2.5em;
	}
}

.boem {
	&::before {
		animation: explosion 3s ease-in-out 1;
	}
}
@keyframes explosion {
	0% {
		top: 100%;
	}
	33%,
	100% {
		top: -50%;
	}
}

@keyframes set-of {
	0% {
		transform: rotatex(-92deg) skewY(-25deg) skewX(36deg);
	}

	100% {
		opacity: 0;
		transform: rotatex(-90deg) translateY(getMesurements(fw-height))
			scale(0.7);
	}
}
