body {
	display: grid;
	place-items: end;
	height: 100vh;
	background-color: getColor(primary);
	// background: linear-gradient(0deg, rgba(101, 222, 55, 1) 33%, rgba(255, 252, 0, 1) 55%, rgba(19, 214, 214, 1) 56%);
}

main {
	display: grid;
	grid-template-columns: 2fr 2fr;

	> section {
		&:first-of-type {
			position: relative;
			padding: 3em;
		}
	}
}

.fw-draggable {
	cursor: grab;

	&.dragging {
		opacity: 0.5;
	}
}

.d-none {
	display: none;
}

#launch {
	position: absolute;
	// wat houdt rem in?
	// bottom: 0;
	// right: 0;
		bottom: 1rem;
			right: -3rem;
	padding: 0.25em;
	border-radius: .25em;
	font-weight: 700;
	font-size: calc(1.75em); // default size = 16px
	color: getColor(quaternary);
	background: #66625e;
}

.launch-box {
	position: relative;
	top: 40%;
	display: grid;
	align-content: end;
	width: 22em;
	height: 16em;
	transform-style: preserve-3d;
	perspective: 10em;

	.front {
		width: 100%;
		height: 4rem;
		padding: 0.5rem 0 0 0.5rem;
		font-size: 1.75em;
		background-color: #999;
	}
}

* {
	.firework-input {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 0.5em;
		width: 100%;
		height: 12rem;
		background-color: #ccc;
		transform-style: preserve-3d;
		transform-origin: center bottom;
		transform: rotatex(90deg);

		div {
			position: relative;
			width: 6em;
			height: 6em;
			padding-bottom: 1em;
			display: flex;
			justify-content: center;
			align-items: end;
			transform-style: preserve-3d;
			border-radius: 50%;
			border: 0.25em solid getColor(detail);
			box-shadow: getColor(display-on);
			background-color: getColor(secondary);

			&:first-of-type {
				.fw-set {
					--mesurement-fw-height: -80vh;
					--mesurement-fw-delay: 0.15s;
				}
			}

			&:nth-of-type(2) {
				.fw-set {
					--mesurement-fw-height: -81vh;
				}
			}

			&:last-of-type {
				--mesurement-fw-height: -79vh;
				--mesurement-fw-delay: 0.3s;
			}
		}
	}
}
