body {
	display: grid;
	place-items: end;
	height: 100vh;
	background-color: getColor(primary);
	// background: linear-gradient(0deg, rgba(101, 222, 55, 1) 33%, rgba(255, 252, 0, 1) 55%, rgba(19, 214, 214, 1) 56%);
}

main {
	display: grid;
	grid-template-columns: 2fr 2fr;

	> section {
		&:first-of-type {
			position: relative;
		}
	}
}

.fw-draggable {
	cursor: grab;

	&.dragging {
		opacity: 0.5;
	}
}

.d-none {
	display: none;
}

#launch {
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 0.2em;
	border-radius: 5px;
	font-weight: 700;
	font-size: calc(12px + 1em); // default size = 16px
	color: getColor(quaternary);
	background: #66625e;
}

.launch-box {
	position: relative;
	top: 57%;
	left: -3em;
	height:-6em;
	transform: rotateY(45deg);
	transform-style: preserve-3d;
}

* {
	.firework-input {
		position: relative;
		display: flex;
		justify-content: space-evenly;
		top: 8em;
		left: 5em;
		width: 24em;
		z-index: 1;

		div {
			width: 4em;
			height: 4em;
			transform-origin: top center;
			transform: rotate3d(1, 0, 0, 122deg) skewX(19deg);
			border-radius: 50%;
			border: 1px solid getColor(detail);
			box-shadow: getColor(display-on);
			background-color: getColor(secondary);

			// &:empty:after {
			// 	content: 'Get your firework arrows';
			// 	position: absolute;
			// 	top: 50%;
			// 	left: 50%;
			// 	transform: translate(-50%, -50%);
			// 	color: red;
			// }
		}
	}

	.inner {
		position: relative;
		width: 250px;
		height: 250px;
		perspective: 3800px;
		perspective-origin: center -1400px;

		div {
			position: absolute;

			&:first-of-type {
				// top of the box
				left: 10.4em;
				width: 19.7em;
				height: 15.3em;
				transform-origin: top center;
				transform: rotate3d(1, 0, 0, 92deg) skewX(-19deg);
				background-color: #8e8986;
			}

			&:nth-of-type(2) {
				// front of the box
				top: 0px;
				right: -9.3em;
				width: 19.7em;
				height: 3.8em;
				transform-origin: left;
				transform: translateZ(223px) rotate3d(0, 1, 0, 0deg);
				background-color: #66625e;

				&::before {
					content: 'Fire Work';
					position: absolute;
					top: 0;
					left: 1em;
					font-weight: 700;
					font-size: 4em;
				}
			}

			&:last-of-type {
				//right side of the box
				top: 5.47em;
				right: -10.3em;
				height: 4.2em;
				width: 16.1em;
				transform-origin: right center;
				transform: rotate3d(0, 1, 0, -110.3deg);
				background-color: #6a6967;
			}
		}
	}
}
